<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm550WmkO-Ws7_iyU6e7LY9OAuLlGMfrA</string>
	<key>GCM_SENDER_ID</key>
	<string>1060701750591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-xt4jad</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-xt4jad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060701750591:ios:37edfc2fc1dbb55e3abf8a</string>
</dict>
</plist>